<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikelau.croperino">

    <permission android:name="${applicationId}.provider.READ" />
    <uses-permission android:name="${applicationId}.provider.READ"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".CropImage"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="${applicationId}.provider.READ">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>
</manifest>
