<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mikelau.croperino">

    <permission android:name="${applicationId}.provider.READ" />
    <uses-permission android:name="${applicationId}.provider.READ"/>

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".CropImage"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="${applicationId}.provider.READ">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>